<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout(main)">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>News HTML-5 Template </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/ticker-style.css}">
    <link rel="stylesheet" th:href="@{/assets/css/flaticon.css}">
    <link rel="stylesheet" th:href="@{/assets/css/slicknav.css}">
    <link rel="stylesheet" th:href="@{/assets/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/assets/css/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/assets/css/slick.css}">
    <link rel="stylesheet" th:href="@{/assets/css/nice-select.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
</head>
<body>
<div th:replace="~{commons/web/header :: header}"></div>
<main id="mainpart" th:replace="${main}">
    <p><em>This content must not be visible.</em></p>
</main></body>
<div th:replace="~{commons/web/footer :: footer}"></div>

<!-- All JS Custom Plugins Link Here here -->
<script th:src="@{/assets/js/vendor/modernizr-3.5.0.min.js}"></script>
<!-- Jquery, Popper, Bootstrap -->
<script th:src="@{/assets/js/vendor/jquery-1.12.4.min.js}"></script>
<script th:src="@{/assets/js/popper.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<!-- Jquery Mobile Menu -->
<script th:src="@{/assets/js/jquery.slicknav.min.js}"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script th:src="@{/assets/js/owl.carousel.min.js}"></script>
<script th:src="@{/assets/js/slick.min.js}"></script>
<!-- Date Picker -->
<script th:src="@{/assets/js/gijgo.min.js}"></script>
<!-- One Page, Animated-HeadLin -->
<script th:src="@{/assets/js/wow.min.js}"></script>
<script th:src="@{/assets/js/animated.headline.js}"></script>
<script th:src="@{/assets/js/jquery.magnific-popup.js}"></script>

<!-- Breaking New Pluging -->
<script th:src="@{/assets/js/jquery.ticker.js}"></script>
<script th:src="@{/assets/js/site.js}"></script>

<!-- Scrollup, nice-select, sticky -->
<script th:src="@{/assets/js/jquery.scrollUp.min.js}"></script>
<script th:src="@{/assets/js/jquery.nice-select.min.js}"></script>
<script th:src="@{/assets/js/jquery.sticky.js}"></script>

<!-- contact js -->
<script th:src="@{/assets/js/contact.js}"></script>
<script th:src="@{/assets/js/jquery.form.js}"></script>
<script th:src="@{/assets/js/jquery.validate.min.js}"></script>
<script th:src="@{/assets/js/mail-script.js}"></script>
<script th:src="@{/assets/js/jquery.ajaxchimp.min.js}"></script>

<!-- Jquery Plugins, main Jquery -->
<script th:src="@{/assets/js/plugins.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>
</html>